.industry_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.industry_wdi {
    position: relative;
    background: var(--color-gb-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.industry_air {
    position: relative;
    background: var(--color-gb-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.industry_air:hover {
    background: transparent;
    transition: var(--transition);
    border: 1px solid;
}

.industry_wdi:hover {
    background: transparent;
    transition: var(--transition);
    border: 1px solid;
}

.click_web {
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 1rem;
    transition: var(--transition);
    border: 1px solid transparent;
}

.logo1 {
    border-radius: 1rem;
    border: 1px solid transparent;
    width: 60%;
    padding: 0.5rem;
    height: 60%;
    margin-bottom: 1rem;
}

.logo1:hover {
    background: transparent;
    transition: var(--transition);
    border: 1px solid;
}

.logo1:hover~.click_web {
    display: block;
}

.logo2:hover~.click_web {
    display: block;
}


.logo2 {
    width: 65%;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    height: 65%;
    margin-bottom: 1rem;
}

.logo2:hover {
    background: transparent;
    transition: var(--transition);
    border: 1px solid;
}



.exp_content small {
    color: var(--color-primary);
}

.exp_detail h5 {
    font-size: 0.68rem;
    margin-bottom: 1rem;
}

.title {
    display: block;
    margin-bottom: 1rem;
}

.exp_content span {
    color: var(--color-primary);
}


@media screen and (max-width:600px) {
    .industry_container {
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 65%;
    }

    small {
        font-size: 0.9rem;
    }

    span {
        font-size: 0.7rem;
    }

    h5 {
        font-size: 0.6rem;
    }
}