.experience_container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience_container>div {
    background: var(--color-gb-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.experience_container>div:hover {
    background: transparent;
    transition: var(--transition);
    border: 1px solid;
}

.temp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.experience_content .experience_details span {
    margin-left: 0.5rem;
    color: var(--color-primary);

}

.experience_content .experience_details small {
    display: block;
}

.experience_details {
    margin-bottom: 1rem;
}

.experience_icon {
    margin-top: 1rem;
    color: var(--color-primary);
}

@media screen and (max-width:1024px) {
    .experience_container {
        grid-template-columns: 1fr;

    }

    .experience_container>div {
        width: 85%;
        margin: 0 auto;
        padding: 2rem;
    }



}

@media screen and (max-width:600px) {
    .experience_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .experience_container>div {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    span,
    small {
        font-size: 0.6rem;
    }
}